fastapi==0.100.0
hypercorn==0.14.4
asttokens
annotated-types
anyio
click
colorama
h11
idna
numpy
pandas
pydantic
pydantic_core
python-dateutil
pytz
six
sniffio
starlette
typing_extensions
tzdata
uvicorn
nltk
